doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/resources/bootstrap/dist/css/bootstrap.min.css')
    block css
  body
    ul.nav.nav-tabs
      li.nav-item
        a(href='/', class=(path=== '/' ? 'nav-link active' : 'nav-link')) Home
      li.nav-item
        a(href="/admin/add", class=(path=== '/add' ? 'nav-link active' : 'nav-link')) Add Website
      li.nav-item
        a(href="/article", class=(path=== '/article' ? 'nav-link active' : 'nav-link')) Articles
      li.nav-item
        a(href="/filter", class=(path=== '/filter' ? 'nav-link active' : 'nav-link')) Filter
      li.nav-item
        a(href="/admin/search_page", class=(path=== '/search_page' ? 'nav-link active' : 'nav-link')) Search
    
    .container
      block content

    script(src="/resources/jquery/dist/jquery.min.js")
    script(src="/resources/bootstrap/dist/js/bootstrap.min.js")

    block js
      
